  <!-- Maarit Parkkonen 2019, uuden ilmoituksen yhteystietomodaali-->
<ion-header>
    <ion-toolbar>
      <ion-title>SaalisApp</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card" color="light">
        <ion-card-content class="ion-no-padding">
            <ion-list>
                <ion-list-header color="dark">
                  <ion-label>Yhteystiedot</ion-label>
                </ion-list-header>
                <!-- nimitiedot -->
                <ion-item>
                    <ion-label position="stacked">Etunimi tai nimimerkki*</ion-label>
                    <ion-input [(ngModel)]="asetukset.etunimi" placeholder="julkinen.."></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Sukunimi</ion-label>
                    <ion-input [(ngModel)]="asetukset.sukunimi" placeholder="julkinen.."></ion-input>
                </ion-item>
                <!-- yhteystiedot -->
                <ion-item>
                    <ion-label position="stacked">Puhelin</ion-label>
                    <ion-input [(ngModel)]="asetukset.puhelin" placeholder="julkinen.."></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Sähköpostiosoite</ion-label>
                    <ion-input [(ngModel)]="asetukset.email" placeholder="julkinen.."></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Katuosoite</ion-label>
                    <ion-input [(ngModel)]="asetukset.katuosoite" placeholder="julkinen.."></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Postinumero</ion-label>
                    <ion-input [(ngModel)]="asetukset.postinumero" placeholder="julkinen.."></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Postitoimipaikka</ion-label>
                    <ion-input [(ngModel)]="asetukset.postitoimipaikka" placeholder="julkinen.."></ion-input>
                </ion-item>
              </ion-list>                
        </ion-card-content>
      
      </ion-card>
    </ion-content>
    
    <ion-footer class="ion-no-padding">
        <!-- alapainikkeet -->
        <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-button size="medium" expand="full" color="medium" (click)=peruuta()>
                    Peru
                  </ion-button>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-button size="medium" expand="full" color="medium" (click)=valmis()>
                    Valmis
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-footer>