// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.teksti {
    font-size: 16px;
}

.otsikko {
    font-size: 18px;
}

.paaotsikko {
    color: rgb(55, 77, 60);
}

.valikko {
    min-width: 170px;
}

.tumma{
    background-color:  #0A130C;
    color: #ffffff;
}